* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.border-round {
    border-radius: 25px;
}



/* flex */
.flex {
    display: flex;
}

.jus-con-space {
    justify-content: space-between;

}

.jus-con-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}
.flex-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}






/* colors */

.white {
    color: white;
}

.bg-white {
    background-color: white;
}

.blue {
    color: #0084fd;
}

.bg-blue {
    background-color: #0084fd;
}

.bg-light-blue {
    background-color: #b5ddff;
}


.light-purp {
    color: #9792e4;
}


.bg-light-purp {
    background-color: #9792e4;
}

.bg-almost-black {
    background-color: #333333;
}




/* paddings */





/* Margins */



.margin-top-3rem {
    margin-top: 3rem;
}



.margin-bottom-3rem {
    margin-top: 3rem;
}