.container {
    width: 70%;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}



/* header */
header {
    position: sticky;
    top: 0;
    z-index: 30;
}
.big-card {
    width: calc(((100% / 3) * 2) - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    
}

.intro {
    margin: 0 -0.75rem;
}

.card {
    width: calc((100% / 3) - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

img {
    width: 100%;
}

.phone-img {
    width: 60%;
    padding-left: 10px;
    
}

h3 {
    margin: 15px 0;
}

.card {
    padding: 2rem;
}









/* main */










/* footer */






/* media query */


