.container {
    width: 70%;
    margin: 0 auto;
}



/* header */

.big-card {
    width: 65%;

    
}

.card {
    width: 30%;
    
}

.phone-img {
    width: 50%;
}









/* main */









/* footer */




